
@{
    ViewBag.Title = "Student Information Index";
}

<h2>Student Information</h2>
<div>
    <form action="studentDetail" method="post">
        student name:<input type="text" placeholder="please enter your name" id="name" name="name" /><br />
        student Id:<input type="text" placeholder="please enter your Id" id="id" name="id" /><br />
        student Age:<input type="number" placeholder="please enter your age" id="age" name="age"/><br />
        <input id="submitButton" type="submit" value="submit" />
    </form>

</div>
   



