@model assign01.Models.Student

@{
    ViewBag.Title = "studentDetail";
}

<h2>studentDetail</h2>
<div>
    Student Name: @Model.name <br/>
    Student Id : @Model.id<br />
    Student Age:@Model.age <br />
    
</div>

